{% extends "base.html" %}

{% block content%}
    <form method="post" action="" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" />
    </form>
    {% if colours %}
        <a href="{{ url_for('export') }}">Exportar a CSV</a>
    {% endif %}
    <table id="colours_table">
       <thead>
           <tr>
               <th>Número de ocurrencias</th>
               <th>Rojo</th>
               <th>Verde</th>
               <th>Azul</th>
           </tr>
       </thead>
       <tbody>
           {% for colour in colours %}
               <tr>
                   <td>{{colour[0]}}</td>
                   <td>{{colour[1][0]}}</td>
                   <td>{{colour[1][1]}}</td>
                   <td>{{colour[1][2]}}</td>
               </tr>
           {% endfor %}
       </tbody>
    </table>
{% endblock %}
