<!DOCTYPE html>
<html>
    <head>
        <title>Images</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </head>
    <body>
        <form method="post" action="" enctype="multipart/form-data">
            <input type="file" name="image" />
            <input type="submit" />
       </form>
       <table>
           <tr>
               <th>Número de ocurrencias</th>
               <th>Rojo</th>
               <th>Verde</th>
               <th>Azul</th>
           </tr>
       {% for colour in colours %}
           <tr>
               <td>{{colour[0]}}</td>
               <td>{{colour[1][0]}}</td>
               <td>{{colour[1][1]}}</td>
               <td>{{colour[1][2]}}</td>
           </tr>
       {% endfor %}
       </table>
    </body>
</html>
